.gradle
build
.vscode
build/tmp/jar/MANIFEST.MF
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/compileJava/compileTransaction/stash-dir/WhispersInTheWalls.class.uniqueId2
build/tmp/compileJava/compileTransaction/stash-dir/VoidTransmitter.class.uniqueId7
build/tmp/compileJava/compileTransaction/stash-dir/VoidTransmitter$TaskData.class.uniqueId6
build/tmp/compileJava/compileTransaction/stash-dir/VoidReceiver.class.uniqueId3
build/tmp/compileJava/compileTransaction/stash-dir/ModItems.class.uniqueId4
build/tmp/compileJava/compileTransaction/stash-dir/ModIcon.class.uniqueId1
build/tmp/compileJava/compileTransaction/stash-dir/ModCreativeTabs.class.uniqueId5
build/reobfJar/output.jar
build/reobfJar/log.txt
build/classes/java/main/com/xlxyvergil/witw/item/VoidTransmitter.class
build/classes/java/main/com/xlxyvergil/witw/item/VoidTransmitter$TaskData.class
build/classes/java/main/com/xlxyvergil/witw/item/VoidReceiver.class
build/classes/java/main/com/xlxyvergil/witw/item/VoidReceiver$TaskData.class
.gradle/file-system.probe
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.8/fileHashes/resourceHashesCache.bin
.gradle/8.8/fileHashes/fileHashes.lock
.gradle/8.8/fileHashes/fileHashes.bin
.gradle/8.8/executionHistory/executionHistory.lock
.gradle/8.8/executionHistory/executionHistory.bin
.gradle/8.8/checksums/checksums.lock
